<!DOCTYPE html>
<html>
    <head>
        <title>Multi User Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Multi user blog project.">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link href="/static/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link href="/static/styles/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--Page Content -->
        <div class="container">
            <!-- Header section -->
            <header class="portfolio-header">
                <div class="row">
                    <div class="title-section col-md-8 col-sm-6 col-xs-12" >
                        {% if user %}
                        <h1>Welcome {{user.name}}</h1>
                        {% endif %}
                    </div>
                    <div class="but-section col-md-4 col-sm-6 col-xs-12">
                        {% if user %}
                        <p>
                            <a class="btn btn-success" href="/blog/newpost">New Post
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"/>
                            </a>
                            <a class="btn btn-primary" href="/logout">Logout
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"/>
                            </a>
                        </p>
                        {% else %}
                        <p class="login-options">
                            <a id="login-control" class="btn btn-primary" href="/login">Login
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"/>
                            </a>
                            <a id="signup-control" class="btn btn-danger" href="/signup">Sign Up
                            <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"/>
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </div>
                <div class="jumbotron" style="background-color:#337ab7; width: 100%;">
                    <h2 class="text-center"><a href="/"><font color="white">Multi User Blog</font></a></h2>
                </div>
            </header>
            <!--Content section -->
            <section id="content">
                {% block content %}
                {% endblock %}
            </section>
            <hr>
        </div>
    </body>
</html>